body{

    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 4em;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #ffb629 0, #ffa537 10%, #ff9243 20%, #ff7e4b 30%, #ff6951 40%, #f25353 50%, #d93f53 60%, #c22f54 70%, #ad2355 80%, #9b1b56 90%, #8c1859 100%);

}