$enviar:(
    width: 250px,
    padding: 10px 0,
    text-transform: uppercase,
    margin: 30px 0,
    font-size: 18px,
    color: #ffffff,
    background: #2e2d2d,
    letter-spacing: 1px,

);